body
{
background-image: url('bimage.jpeg');
margin: 0px;
background-size: cover;
}

.info
{
    height: 17vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
}


.p1
{
    position: absolute;
    margin: 0px;
    top: -0.5%;
    color: black;
    font-size:2.8vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p2
{
    position: absolute;
    margin: 0px;
    color: black;
    font-size:1.8vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info>p>span
{
    color: purple;
}

.game-window
{
    border: 10px Solid black;
    height: 89vh
}

#player
{
    position: absolute;
    top: 60vh;
    left: 50vw;
    height: 37px;
    width: 5vw;
}

.robo>div
{
    position: absolute;
    background-image:  url('tom2.png');
background-size: cover;
    height: 57px;
    width: 5vw;
    top: 9vh;
    margin: 0px;
    z-index: -1;
}
